<!DOCTYPE html>
<html>
<head>
  <title>Exosearch</title>
  <%- include('partials/head'); %>
</head>
<body>
  <div class="container">
    <%- include('partials/navbar'); %>
    <h1>Dashboard</h1>
    <!-- Dashboard content -->
  </div>
</body>
</html>