<!DOCTYPE html>
<html>
<head>
  <title>Settings - Exosearch</title>
  <%- include('partials/head'); %>
</head>
<body>
  <div class="container">
    <%- include('partials/navbar'); %>
    <h1>Settings</h1>
  </div>
</body>
</html>