<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Exosearch</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forwarders">Forwarders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/indexes">Indexes</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/settings"><i class="fas fa-cog">Settings</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api-docs">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
      </ul>
    </div>
  </nav>